body {
    margin: 0;
    padding: 0;
}

#boids {
    margin: 0;
    background: #282c34;
    overflow: hidden;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    padding: 10px;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sliderLabel {
    color: black;
}